<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">First Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="firstName">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Last Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="lastName">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Age</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="age">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Phone</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="phone">
    </div>
   <button class="btn btn-primary">Add Student</button>
    
  </form>